.loader:after {
    animation: loader 1.2s linear infinite;
    border-color: var(--bg-dark) transparent;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.325rem;
    content: "";
    display: block;
    height: 3rem;
    width: 3rem;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}