:root {
    --text-primary: #212121;
    --text-secondary: #FAFAFA;

    --title-primary:red;
    --title-secondary: blue;

    --CTA-primary:green;
    --CTA-primary-hover:yellow;

    --CTA-secondary:orange;
    --CTA-secondary-hover:pink;

    --CTA-tertiary:grey;
    --CTA-tertiary-hover:white;




    /* For menu, row & section bacgrounds, søgebare */
    --bg-primary: #1E293B;
    --bg-secondary: #E5E7EB;
    --bg-tertiary:lightgrey;

    /* opgaver (& tags for now) */
    --task-light:;
    --task-dark:;


    --border-radius: 0.125rem;
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    --default-padding: 1rem;

    /* temporary */
    --muted: rgb(75 85 99);
}