:root {
    --text-primary: rgb(2 6 23);
    --text-secondary: rgb(220, 223, 231);

    --title-primary: rgb(2 6 23);
    --title-secondary: rgb(15 23 42);

    --CTA-primary: rgb(29 78 216);
    --CTA-primary-hover: rgb(30 58 138);

    --CTA-secondary: rgb(75 85 99);
    --CTA-secondary-hover: rgb(51 65 85);

    --CTA-tertiary: rgb(71 85 105);
    --CTA-tertiary-hover: rgb(100 116 139);

    --text-small: 0.875rem;
    --text-heavy: 600;


    /* For menu, row & section bacgrounds, søgebare */
    --bg-dark: #1E293B;
    --bg-medium: grey;
    --bg-light:lightgrey;
    --bg-white: white;

    /* opgaver (& tags for now) */
    --task-light:#e5e7eb;
    --task-dark:lightgrey;


    --border-radius: 0.125rem;
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

    --default-padding: 1rem;
    --half-padding: calc(var(--default-padding) / 2);
    --default-gap: 1rem;
    --large-gap: 4rem;

    /* temporary */
    --muted: rgb(75 85 99);

    --bg-danger: maroon;
    --text-danger: red;

    --shadow-right: 1px 0 1px 0 rgba(0, 0, 0, 0.1);
    --shadow-down: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --text-primary: rgb(249 250 251); /* done */
        --text-secondary: rgb(220, 223, 231);

        /*--title-primary: rgb(2 6 23);*/
        /*--title-secondary: rgb(15 23 42);*/

        --CTA-primary: rgb(190 24 93); /* done */
        --CTA-primary-hover: rgb(219 39 119); /* done */

        --CTA-secondary: rgb(51 65 85); /* done */
        --CTA-secondary-hover: rgb(100 116 139); /* done */

        /*--CTA-tertiary: rgb(71 85 105);*/
        /*--CTA-tertiary-hover: rgb(100 116 139);*/


        /* For menu, row & section bacgrounds, søgebare */
        --bg-dark: #1E293B;
        /*--bg-medium: grey;*/
        --bg-light: rgb(31 41 55); /* done */
        --bg-white: rgb(17 24 39); /* done */

        /* opgaver (& tags for now) */
        --task-light:#e5e7eb;
        --task-dark:lightgrey;

        --shadow-right: 1px 0 1px 0 rgba(255, 255, 255, 0.1);
        --shadow-down: 0 1px 1px 0 rgba(255, 255, 255, 0.1);
    }
}